<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359020433593-5eu8tkuedprvq4phqu94qhc2b0qapl0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359020433593-5eu8tkuedprvq4phqu94qhc2b0qapl0f</string>
	<key>API_KEY</key>
	<string>AIzaSyD--4qthg4HEJItubnc4L_ewylHiKXCXxs</string>
	<key>GCM_SENDER_ID</key>
	<string>359020433593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theholidayapp.holiday-app</string>
	<key>PROJECT_ID</key>
	<string>holiday-app-project-296808</string>
	<key>STORAGE_BUCKET</key>
	<string>holiday-app-project-296808.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359020433593:ios:09ec77ec8febe37ebccb68</string>
</dict>
</plist>